/*
Theme Name: Deep Purple
Text Domain: enssop
Description: Thème sur le groupe de rock Deep Purple
Author: Jérôme
Author URI: 
Version: 1.0.0
*/

img {
	height:300px;
}

#pictureMembre img {
	height:600px;
}

header nav{
    display: flex;
	text-align: center;
	background-color: antiquewhite;
}

nav ul {
    padding:0;
    margin:0;
}

nav li {
    display: inline-block;
    padding:0 30px;
}

nav a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

nav a:hover {
	color:#ff4742;
	text-decoration: none;
}
